@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --dark-color: #2d3436;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}



body {
    background: linear-gradient(150deg,#bdc3c7, #ecf0f1, #bdc3c7);
}

h1 {
    text-shadow: 1px 1px 0px #111111;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.divCor {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.divCor button {
    /* width: 100px; */
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 0px #000000 ;
    background-color: #2d3436;
    color: #ecf0f1;
    transition: transform 200ms ease-in-out;
    transition: background-color 0.6s, color 0.6s;
}

.divCor button:hover {
    transform: scale(1.05);
    background-color: #576264;
}

.calculadoraControle {
    display: flex;
    justify-content: center;
}

.calculadora {
    background-color: #000000;
    box-shadow: 4px 4px 1.5px #111111;
    margin-top: 40px;
    padding: 22px;
}

.tela {
    background-color: #ececec;
    height: 80px;
    color: #2d3436;
    font-size: 16px;
    text-align: end;
    margin: 0px 2px 15px 2px;
}

.calculadora table button {
    width: 60px;
    height: 60px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: var(--dark-color);
    color: #ecf0f1;
    transition: transform 200ms ease-in-out;
    transition: background-color 0.5s, color 0.5s;
}

.calculadora table button:hover {
    transform: scale(1.02);
    background-color: #576264;
}

.eCopy {
    text-align: center;
    margin-top: 40px;
    margin-bottom:80px;
    font-size: 10px;
    text-shadow: 1px 1px 0px #111111;
}


@media(min-width: 300px) {
    #btnCor {
        width: 300px;
    }
}